<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.mit.mobile.android.locast"
    android:installLocation="auto"
    android:versionCode="35"
    android:versionName="Open Locast 0.3" xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="10" />
    
     <uses-library android:name="com.google.android.maps" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- If Constants.USE_ACCOUNT_FRAMEWORK is true, these should be uncommented: -->


    <!--
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    -->

    <!-- for using the templated recorder -->
    <!--
    <uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.RECORD_AUDIO"/>
    
    <uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
    -->

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true" />

    <application>

        <!--
		*****************************************************************************************************
		*                                              Sync                                                 *
		*****************************************************************************************************
        -->


        <!-- this has its own process so it can have more memory for thumbnail generation -->
        <service
            android:name="edu.mit.mobile.android.locast.sync.MediaSync"
            android:exported="false"
            android:process="edu.mit.mobile.android.locast.SyncMedia" >
            <intent-filter>
                <action android:name="edu.mit.mobile.android.locast.ACTION_SYNC_RESOURCES" />

                <data android:mimeType="vnd.android.cursor.item/vnd.edu.mit.mobile.android.locast.ver2.castmedia" />
            </intent-filter>
            <intent-filter>
                <action android:name="edu.mit.mobile.android.locast.ACTION_SYNC_RESOURCES" />
            </intent-filter>
        </service>

        <provider
            android:name="edu.mit.mobile.android.locast.data.MediaProvider"
            android:authorities="edu.mit.mobile.android.locast.ver2.provider" />

        <!-- if Constants.USE_ACCOUNT_FRAMEWORK is false, uncomment this. Otherwise comment it out. -->

        <service
            android:name="edu.mit.mobile.android.locast.sync.LocastSimpleSyncService"
            android:exported="false"
            android:process="edu.mit.mobile.android.locast.Sync" >
            <intent-filter>
                <action android:name="edu.mit.mobile.android.locast.ACTION_CANCEL_SYNC" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SYNC" />

                <data android:mimeType="vnd.android.cursor.item/vnd.edu.mit.mobile.android.locast.ver2.casts" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.locast.ver2.casts" />
                <data android:mimeType="vnd.android.cursor.item/vnd.edu.mit.mobile.android.locast.ver2.castmedia" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.locast.ver2.castmedia" />
                <data android:mimeType="vnd.android.cursor.item/vnd.edu.mit.mobile.android.locast.ver2.comments" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.locast.ver2.comments" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.locast.ver2.collections" />
                <data android:mimeType="vnd.android.cursor.item/vnd.edu.mit.mobile.android.locast.ver2.collections" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SYNC" />

                <data
                    android:host="locast.mit.edu"
                    android:scheme="http" />
                <data
                    android:host="locast.mit.edu"
                    android:scheme="https" />
                <data
                    android:host="mel-pydev.mit.edu"
                    android:scheme="http" />
                <data
                    android:host="mel-pydev.mit.edu"
                    android:scheme="https" />
            </intent-filter>
        </service>

        <!-- if Constants.USE_ACCOUNT_FRAMEWORK is true, uncomment these. Otherwise comment it out. -->
        <!--
         <service
            android:name="edu.mit.mobile.android.locast.accounts.AuthenticationService"
            android:exported="true"
            android:permission="android.permission.AUTHENTICATE_ACCOUNTS" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service tools:ignore="ExportedService"
            android:name="edu.mit.mobile.android.locast.sync.LocastSyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <receiver android:name="edu.mit.mobile.android.locast.accounts.AccountChangeReceiver" >
            <intent-filter>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="edu.mit.mobile.android.locast.accounts.AuthenticatorActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name" >

           <!- - 
			No intent-filter here! This activity is only ever launched by someone
			who explicitly knows the class name
           - ->
        </activity>
        <activity
            android:name="edu.mit.mobile.android.locast.accounts.SigninOrSkip"
            android:excludeFromRecents="true" /> 
        -->


        <!-- end Constants.USE_ACCOUNT_FRAMEWORK=true commented section -->

        <activity
            android:name=".browser.ResetActivity"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Dialog" />

        
    </application>

</manifest>
