<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="edu.mit.mobile.android.locast"
	android:versionCode="18" android:versionName="1.3.5"
	>
<!--	android:installLocation="auto" version 2.2+ -->

	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="8" />
	<supports-screens android:largeScreens="true" android:anyDensity="true" />
	
	<application android:icon="@drawable/app_icon"
		android:label="@string/app_name"
		android:name=".Application"
		android:theme="@style/Browser"
		android:debuggable="true">

	<!-- 
		*****************************************************************************************************
		*                                               Main                                                *
		*****************************************************************************************************
	 -->
		
 <!-- 
		<activity android:name=".MainActivity" android:label="@string/app_name">
			<intent-filter>
 				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				
			</intent-filter>
		</activity>
		 -->

	<!-- 
		*****************************************************************************************************
		*                                             Projects                                              *
		*****************************************************************************************************
	 -->
		
		<activity android:name=".projects.ListProjectsActivity">
			<intent-filter>
				<action android:name="android.intent.action.GET_CONTENT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.locast.projects" />
			</intent-filter>
		</activity>
		
		<activity android:name=".projects.SimpleProjectList" android:label="@string/project_list_view_title" android:theme="@android:style/Theme.Dialog">
			<intent-filter>
				<action android:name="android.intent.action.PICK" />
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.locast.projects" />
			</intent-filter>
		</activity>
		
		<activity android:name=".projects.ViewProjectActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.edu.mit.mobile.android.locast.projects" />
			</intent-filter>
		</activity>
		
		<activity android:name=".projects.ProjectDetailsActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<data android:mimeType="vnd.android.cursor.item/vnd.edu.mit.mobile.android.locast.projects" />
			</intent-filter>
		</activity>
		
		<activity android:name=".projects.EditProjectActivity">
			<intent-filter>
				<action android:name="android.intent.action.EDIT" />
				<action android:name="edu.mit.mobile.android.locast.ACTION_ADD_CAST" />
				<action android:name="edu.mit.mobile.android.locast.ACTION_TOGGLE_MEMBERSHIP" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.edu.mit.mobile.android.locast.projects" />
			</intent-filter>
			<!-- can create new projects -->
			<intent-filter>
				<action android:name="android.intent.action.INSERT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.locast.projects" />
			</intent-filter>
			<!-- can attach content to projects -->
			<intent-filter>
				<action android:name="android.intent.action.ATTACH_DATA" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.edu.mit.mobile.android.locast.casts" />
			</intent-filter>
		</activity>

	<!-- 
		*****************************************************************************************************
		*                                              Casts                                                *
		*****************************************************************************************************
	 -->
	 
		<activity android:name=".casts.BrowseCastsActivity">
			<intent-filter>
				<action android:name="android.intent.action.PICK" />
				<action android:name="android.intent.action.GET_CONTENT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.locast.casts" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.locast.projects.casts" />
			</intent-filter>		
		</activity>
<!-- 		
		<activity android:name=".casts.BrowseByMapActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.locast.casts" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.locast.projects.casts" />
			</intent-filter>		
		</activity>
	 -->	
		<activity android:name=".casts.BrowseByTagsActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.locast.casts" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.locast.projects.casts" />
			</intent-filter>
		</activity>
		
		<activity android:name=".casts.MyCastsActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.EDIT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.locast.casts" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.locast.projects.casts" />
			</intent-filter>
		</activity>
		
		<activity android:name=".casts.CastDetail">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.DELETE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.edu.mit.mobile.android.locast.casts" />
				<data android:mimeType="vnd.android.cursor.item/vnd.edu.mit.mobile.android.locast.projects.casts" />
			</intent-filter>
			
			<intent-filter android:label="@string/cast_play">
				<action android:name="edu.mit.mobile.android.locast.ACTION_PLAY_CAST" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.ALTERNATIVE" />
				<category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
				<data android:mimeType="vnd.android.cursor.item/vnd.edu.mit.mobile.android.locast.casts" />
				<data android:mimeType="vnd.android.cursor.item/vnd.edu.mit.mobile.android.locast.projects.casts" />
			</intent-filter>
		</activity>
		
		<activity android:name=".casts.EditCastActivity">
			<intent-filter>
				<action android:name="android.intent.action.EDIT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.edu.mit.mobile.android.locast.casts" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.INSERT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.locast.casts" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<action android:name="edu.mit.mobile.android.locast.share.ACTION_CAST_FROM_MEDIA_URI" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="video/*" />
				<data android:mimeType="audio/*" />
			</intent-filter>
		</activity>		

	<!-- 
		*****************************************************************************************************
		*                                          Discussion                                               *
		*****************************************************************************************************
	 -->
		<activity android:name=".DiscussionActivity">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.edu.mit.mobile.android.locast.comments" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.locast.comments" />
			</intent-filter>
			
			<intent-filter>
				<action android:name="android.intent.action.EDIT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.edu.mit.mobile.android.locast.comments" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.locast.comments" />
			</intent-filter>
		</activity>
		
			<!-- 
		*****************************************************************************************************
		*                                     Templated Recording                                           *
		*****************************************************************************************************
	 -->
		<activity android:name=".templates.TemplateActivity" android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="edu.mit.mobile.android.locast.ACTION_RECORD_TEMPLATED_VIDEO" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.locast.shotlist" />
				<data android:mimeType="vnd.android.cursor.item/vnd.edu.mit.mobile.android.locast.projects" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.EDIT" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.edu.mit.mobile.android.locast.projects.casts" />
			</intent-filter>
		</activity>
		
		<activity android:name=".templates.TemplatePlayer" android:screenOrientation="landscape">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<data android:mimeType="vnd.android.cursor.item/vnd.edu.mit.mobile.android.locast.projects.casts" />
			</intent-filter>
		</activity>
        <!-- test	
		<activity android:name="test.BasicVideoRecorder" android:screenOrientation="landscape" android:label="Video Recorder test" android:taskAffinity="edu.mit.mobile.android.locast.debug" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
        -->
	<!-- 
		*****************************************************************************************************
		*                                             Moment                                                *
		*****************************************************************************************************
	 -->
		<activity android:name=".casts.Moment" android:theme="@android:style/Theme.Dialog" android:taskAffinity="edu.mit.mobile.android.locast.moment">
			<intent-filter>
			<action android:name="android.intent.action.INSERT" />
			<data android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.locast.casts" />
			</intent-filter>
		</activity>
		
		<receiver android:name=".casts.MomentWidget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/moment_widget_info" />
		</receiver>
		
	<!-- 
		*****************************************************************************************************
		*                                              Misc                                                 *
		*****************************************************************************************************
	 -->
	 
		<activity android:name=".SettingsActivity" />
		<activity android:name=".PairingActivity" />
		
		
		<!-- 
		*****************************************************************************************************
		*                                              Browser                                              *
		*****************************************************************************************************
		 -->
		 
		 <activity android:name=".browser.BrowserHome" 
		 	android:label="Locast Browser">
		 	<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				
			</intent-filter>
		 </activity>

		<activity android:name=".itineraries.ItineraryList">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.locast.itineraries" />
			</intent-filter>
		</activity>
				
		<activity android:name=".itineraries.ItineraryDetail">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.edu.mit.mobile.android.locast.itineraries" />
			</intent-filter>
		</activity>
		
		<activity android:name=".casts.LocatableListWithMap">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
				<action android:name="edu.mit.mobile.android.locast.ACTION_SEARCH_NEARBY" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.locast.casts" />
			</intent-filter>
		</activity>
	<!--
		*****************************************************************************************************
		*                                              Sync                                                 *
		*****************************************************************************************************
	 -->
		<service android:name=".data.Sync">
			<intent-filter>
				<action android:name="edu.mit.mobile.android.locast.ACTION_CANCEL_SYNC" />
				<data android:mimeType="*/*" />
			</intent-filter>
			
			<intent-filter>
				<action android:name="android.intent.action.SYNC" />
				<data android:mimeType="vnd.android.cursor.item/vnd.edu.mit.mobile.android.locast.casts" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.locast.casts" />
				<data android:mimeType="vnd.android.cursor.item/vnd.edu.mit.mobile.android.locast.projects.casts" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.locast.projects.casts" />
				<data android:mimeType="vnd.android.cursor.item/vnd.edu.mit.mobile.android.locast.projects" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.locast.projects" />
				<data android:mimeType="vnd.android.cursor.item/vnd.edu.mit.mobile.android.locast.comments" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.locast.comments" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.edu.mit.mobile.android.locast.itineraries" />
				<data android:mimeType="vnd.android.cursor.item/vnd.edu.mit.mobile.android.locast.itineraries" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SYNC" />
				<data android:scheme="http" android:host="locast.mit.edu" />
				<data android:scheme="https" android:host="locast.mit.edu" />
				<data android:scheme="http" android:host="mel-pydev.mit.edu" />
				<data android:scheme="https" android:host="mel-pydev.mit.edu" />
				</intent-filter>
		</service>
		
		
		<provider android:name=".data.MediaProvider"
			android:authorities="edu.mit.mobile.android.locast.provider" />

	<service android:name="edu.mit.mobile.android.locast.accounts.AuthenticationService"
		android:exported="true">
		<intent-filter>
			<action android:name="android.accounts.AccountAuthenticator" />
		</intent-filter>
		<meta-data android:name="android.accounts.AccountAuthenticator"
			android:resource="@xml/authenticator" />
	</service>
	<service android:name=".sync.LocastSyncService"
		android:exported="true">
		<intent-filter>
			<action android:name="android.content.SyncAdapter" />
		</intent-filter>
		<meta-data android:name="android.content.SyncAdapter"
			android:resource="@xml/syncadapter" />
	</service>

	<activity
		android:name="edu.mit.mobile.android.locast.accounts.AuthenticatorActivity"
		android:label="@string/app_name" android:theme="@android:style/Theme.Dialog"
		android:excludeFromRecents="true">
		<!--
			No intent-filter here! This activity is only ever launched by someone
			who explicitly knows the class name
		-->
	</activity>
	
	<activity
		android:name=".accounts.SigninOrSkip" android:excludeFromRecents="true">
		
		</activity>
			
	<uses-library android:name="com.google.android.maps" />

</application>

	<uses-permission android:name="android.permission.VIBRATE" />

	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.RECORD_AUDIO"/> 
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
	<uses-permission android:name="android.permission.READ_SYNC_STATS" />
	<uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
	<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
	
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
</manifest> 
